.more-projects {
  margin-top: 2rem;
  overflow: hidden;

  .title {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      width: 40px;
      height: 2px;
      background: $gold;
    }

    h2 {
      margin-left: 8px;
      display: inline-block;
      color: $gold;
    }
  }

  .carousel {
    &:after {
      content: "flickity";
      display: none;
    }

    @include media("<=425px") {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:after {
        content: "";
      }
    }

    .project-card {
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 210px 170px 60px;
      grid-template-areas: "image" "profile" "links";
      border-radius: 18px;
      text-align: center;
      margin-right: 1.1rem;

      @include media("<=425px") {
        grid-template-columns: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
      }

      .project-image {
        grid-area: image;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .project-profile {
        grid-area: profile;
        padding: 25px;
        background: $black;

        h3 {
          margin-top: 0;
          font-size: 1.6rem;
          color: $white;
        }

        p {
          color: $gray;
          font-size: 1rem;
          font-weight: 300;
        }
      }

      .project-links {
        grid-area: links;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background: $black;

        .demo {
          border-right: 1px dotted $white;
        }

        .demo,
        .github {
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 1px dotted $white;

          a {
            color: $white;
            font-size: 1.1rem;
            text-decoration: none;
          }
        }
      }
    }
  }
}
