.header-full {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background: $background;
  opacity: 0.97;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $tall;
    transition: height 0.3s;

    @include media("<=475px") {
      height: $short;
    }

    &.scrolling {
      height: 60px;

      @include media("<=475px") {
        height: 50px;
      }
    }

    .logo {
      a {
        color: $gold;
        font-size: 2.5rem;
        text-decoration: none;
      }
    }

    .header-nav {
      position: relative;
      width: 12rem;
      display: flex;
      justify-content: space-around;

      i {
        color: $gold;
      }
    }
  }
}
