.header-full {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background: $background;
  opacity: 0.97;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    transition: height 0.3s;

    &.scrolling {
      height: 60px;
    }

    .logo {
      color: $gold;
      font-size: 2.5rem;
    }

    .header-nav {
      position: relative;
      width: 12rem;
      display: flex;
      justify-content: space-around;

      i {
        color: $gold;
      }
    }
  }
}
