.projects {
  margin-top: 65px;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      width: 40px;
      height: 2px;
      background: $black;
    }

    h2 {
      margin-left: 8px;
      display: inline-block;
    }
  }

  .project {
    display: flex;
    margin-bottom: 4rem;
    // -webkit-box-shadow: -2px -2px 5px -1px rgba(16, 15, 14, 0.75);
    // -moz-box-shadow: -2px -2px 5px -1px rgba(16, 15, 14, 0.75);
    // box-shadow: -2px -2px 5px -1px rgba(16, 15, 14, 0.75);

    @include media("<=920px") {
      flex-direction: column;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    &.demo {
      &:hover {
        .project-image {
          .demo {
            visibility: visible;
            opacity: 1;

            a {
              //text-shadow: 2px 2px $black;
              color: $gold;
            }
          }
        }
      }
    }

    .project-info {
      width: 35%;
      background: $black;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media("<=1185px") {
        width: 40%;
      }

      @include media("<=920px") {
        width: 100%;
      }

      .project-title {
        margin-bottom: 18px;

        h3 {
          color: $white;
          font-size: 2.5rem;
          font-weight: 600;
          margin: 0;

          @include media("<=390px") {
            font-size: 2rem;
          }

          @include media("<=310px") {
            font-size: 1.7rem;
          }

          span {
            display: inline-block;
            margin-left: 0.6rem;
            align-self: flex-start;

            @include media("<=390px") {
              margin-left: 0.5rem;
            }

            .external-link {
              i {
                vertical-align: top;
                padding-top: 0.5rem;
                color: $white;
                font-size: 1.4rem;

                @include media("<=390px") {
                  font-size: 1rem;
                  padding-top: 0.6rem;
                }
              }
            }
          }
        }

        .github {
          display: inline-block;
          background: $white;
          padding: 5px 11px;
          border-radius: 25px;
          font-size: 0.9rem;
          text-align: center;
          color: $black;
          text-decoration: none;
        }
      }

      .project-description {
        h4 {
          color: $gray;
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }

    .project-image {
      position: relative;
      width: 65%;
      overflow: hidden;

      @include media("<=1185px") {
        width: 60%;
      }

      @include media("<=920px") {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.7s ease-out;
      }
    }
  }
}
