@import "./breakpoints.scss";
@import "./flickity.min.css";
@import "https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap";
@import "./variables.scss";
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/projects.scss";
@import "./components/carousel.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Didact Gothic", sans-serif;
  color: $black;
  background: $background;
}

.App {
  background: $background;
}

.container {
  margin: 0 auto 0 auto;
  width: 85%;
  max-width: 1300px;
}
