$black: #100f0e;
$white: #ffffff;
$gold: #ffab1b;
$background: #fdfaf7;
$background-dark: #272523;
$gray: #bbbab9;
$orange: #fc4b09;

@keyframes waving {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0);
  }
  0% {
    transform: rotate(0);
  }
}
