$black: #100f0e;
$white: #ffffff;
// $gray: #FCFBF8;
$gold: #ffab1b;
$gray: #fbfaf8;

$big-padding: 15rem;

@keyframes waving {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0);
  }
  0% {
    transform: rotate(0);
  }
}
